<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>admin_newsletter_subscribers</title>
</head>
<body>
<div class="container mt-5">
  <h2 class="mb-4">Subscribers Management</h2>
  <table class="table table-bordered table-hover">
    <thead class="table-dark">
      <tr>
        <th>ID</th>
        <th>Email</th>
        <th>Subscribed on</th>
      </tr>
    </thead>
    <tbody>
      {% for user in users %}
      <tr>
        <td>{{ user.id }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.subscribed_on }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
</body>
</html>