   {% include "header.html" %}
   <!-- Hero Section -->
    <section id="hero" class="hero section dark-background">

      <img src="static/assets/img/aboutpage.jpg" alt="" data-aos="fade-in">

      <div class="container">

        <div class="row justify-content-center text-center" data-aos="fade-up" data-aos-delay="100">
          <div class="col-xl-6 col-lg-8">
            <h2>About QuickMart<span>.</span></h2>
          </div>
        </div>

<!--        <div class="row gy-4 mt-5 justify-content-center" data-aos="fade-up" data-aos-delay="200">-->
<!--          <div class="col-xl-2 col-md-4" data-aos="fade-up" data-aos-delay="300">-->
<!--            <div class="icon-box">-->
<!--              <i class="bi bi-binoculars"></i>-->
<!--              <h3><a href="">Your Trusted Marketplace</a></h3>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="col-xl-2 col-md-4" data-aos="fade-up" data-aos-delay="400">-->
<!--            <div class="icon-box">-->
<!--              <i class="bi bi-bullseye"></i>-->
<!--              <h3><a href="">Best Products</a></h3>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="col-xl-2 col-md-4" data-aos="fade-up" data-aos-delay="500">-->
<!--            <div class="icon-box">-->
<!--              <i class="bi bi-fullscreen-exit"></i>-->
<!--              <h3><a href="">Fast Delivery to Your Home</a></h3>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="col-xl-2 col-md-4" data-aos="fade-up" data-aos-delay="600">-->
<!--            <div class="icon-box">-->
<!--              <i class="bi bi-card-list"></i>-->
<!--              <h3><a href="">Quality at Great Prices</a></h3>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="col-xl-2 col-md-4" data-aos="fade-up" data-aos-delay="700">-->
<!--            <div class="icon-box">-->
<!--              <i class="bi bi-gem"></i>-->
<!--              <h3><a href="">Premium Goods</a></h3>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->

      </div>

    </section><!-- /Hero Section -->
    <!-- Features Section -->
    <section id="features" class="features section">

      <div class="container">

        <div class="row gy-4">
          <div class="features-image col-lg-6" data-aos="fade-up" data-aos-delay="100"><img src="static/assets/img/features-bg.jpg" alt=""></div>
          <div class="col-lg-6">

            <div class="features-item d-flex ps-0 ps-lg-3 pt-4 pt-lg-0" data-aos="fade-up" data-aos-delay="200">
              <i class="bi bi-archive flex-shrink-0"></i>
              <div>
                <h4>Wide Product Selection</h4>
                <p>We stock a broad range of quality items — from fashion to electronics — all in one place for your convenience.</p>
              </div>
            </div><!-- End Features Item-->

            <div class="features-item d-flex mt-5 ps-0 ps-lg-3" data-aos="fade-up" data-aos-delay="300">
              <i class="bi bi-basket flex-shrink-0"></i>
              <div>
                <h4>Smooth Shopping Experience</h4>
                <p>With a simple interface and fast checkout, shopping on QuickMart is quick, easy, and enjoyable.</p>
              </div>
            </div><!-- End Features Item-->

            <div class="features-item d-flex mt-5 ps-0 ps-lg-3" data-aos="fade-up" data-aos-delay="400">
              <i class="bi bi-broadcast flex-shrink-0"></i>
              <div>
                <h4>Trusted Network</h4>
                <p>We work with reliable vendors and verified suppliers to ensure product authenticity and customer satisfaction.</p>
              </div>
            </div><!-- End Features Item-->

            <div class="features-item d-flex mt-5 ps-0 ps-lg-3" data-aos="fade-up" data-aos-delay="500">
              <i class="bi bi-camera-reels flex-shrink-0"></i>
              <div>
                <h4>Customer-Focused Vision</h4>
                <p>QuickMart is built with you in mind — offering transparency, quality visuals, and accurate product info every time.</p>
              </div>
            </div><!-- End Features Item-->

          </div>
        </div>

      </div>

    </section><!-- /Features Section -->
       <!-- Call To Action Section -->
    <section id="call-to-action" class="call-to-action section dark-background">

      <img src="static/assets/img/cta-bg.jpg" alt="">

      <div class="container">
        <div class="row justify-content-center" data-aos="zoom-in" data-aos-delay="100">
          <div class="col-xl-10">
            <div class="text-center">
              <h3>Start Shopping with Confidence</h3>
              <p>Explore amazing deals on fashion, electronics, home essentials, and more — all delivered fast and hassle-free. Join thousands of happy customers today!</p>
              <a class="cta-btn" href="{{ url_for('home_page') }}#portfolio">Shop Now</a>

            </div>
          </div>
        </div>
      </div>

    </section><!-- /Call To Action Section -->
   {% include "footer.html" %}